main{
    border: solid black;
    background: rgb(187, 187, 187);
    height: 500px;
}
.redRec
{
    background: red;
    border: solid gray;
    width: 50%;
    height: 90%;
    line-height: 90%;
    margin-left: 1.2%;
    margin-top:1.2%;
    margin-bottom: 1.2%;
    text-align: center;
   
}
.row1
{
    display: inline-block;
    vertical-align: top;
}
#value_1 {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    padding-top: 200px;
  }
  #value_2
  {
      vertical-align: middle;
      padding-top: 12%;
  }
  #value_3
  {
    vertical-align: middle;
    padding-top: 75%;
  }
  #rightRec
  {
    
    width: 45%;
    height: 90%;
    line-height: 90%;
    margin-left: 1.2%;
    margin-top:1.2%;
    margin-bottom: 1.2%;
    
  }
  #greenRec{
      border: solid rgb(23, 238, 23);
      width: 99%;
      margin-top: 0px;
      height: 20%;
      background: chartreuse;
      text-align: center;
      margin-bottom: 0px;
  }
  #pinkRect
  {
      border: solid pink;
      background: pink;
      width: 45%;
      height: 78%;
      margin-left: 0px;
      padding-left: 0px;
      padding-right: 0px;
      margin-top: 0px;
      margin-right: 0px;
      text-align: center;
  }
  #blueRect
  {
      width: 53%;
      height: 78%;
      margin-left: 0px;
      padding-left: 0px;
  }
  .row2
  {
      display:inline-block;
      vertical-align: top;
     
  }
  #firstRect{
      border: rgb(111, 111, 243) solid;
      height: 20%;
      margin-top:0px;
      background: rgb(111, 111, 243);
      margin-left:0;
      padding-left:222px;
      padding-top:90px;

  }
  #secondRect
  {
    border: rgb(111, 111, 243) solid;
    height: 20%;
    margin-top:20px;
    background: rgb(111, 111, 243);
    padding-left:222px;
    padding-top:90px;
  }
  